In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
raw_df = pd.read_csv("../data/MLC_data_sample.csv")

In [3]:
print(raw_df.head(5))

            If  Country Code Registrant Code  Year of Reference Usage Period  \
0  USUG12101043           US             UG1               21.0          NaN
1  USRC12100543           US             RC1               21.0          NaN
2  USSM12102263           US             SM1               21.0          NaN
3  USLD91731547           US             LD9               17.0     2/1/2021
4  USAT22007048           US             AT2               20.0          NaN

  Streaming Platform (DSP)     Streams        Recording Artist  \
0                AudioMack     10,175                   Future
1               SoundCloud      8,597                 LUCKY3RD
2               SoundCloud    261,280                 LUCKY3RD
3                   Trebel          5   Bachata & Merengue Mix
4                AudioMack     62,105                   Foolio

  Recording Label                            Recording Title  \
0             NaN   FUTURE FT DEJ LOAF HEY THERE PROD BY DDS
1        LUCKY3RD                     Keep It Cool  LUCKY3RD
2        LUCKY3RD                     Life Goes On  LUCKY3RD
3         Orchard     No dudes de mi- Merengue & Bachata Mix
4             NaN                       WHEN I SEE YOU REMIX

             Release Title  Recording Duration (Seconds)  \
0                #unknown#                           181
1   Keep It Cool  LUCKY3RD                           133
2   Life Goes On  LUCKY3RD                           171
3            Mega Mix 2010                          1250
4                #unknown#                           187

   Songwriter's Listed (1 = "Yes", 0 = "No")
0                                          0
1                                          0
2                                          0
3                                          0
4                                          0

In [4]:
print(raw_df.tail(3))

                If  Country Code Registrant Code  Year of Reference  \
99997  SE6HN1926755           SE             6HN               19.0
99998  SEYOK1669274           SE             YOK               16.0
99999  QZK6F2019397           QZ             K6F               20.0

      Usage Period Streaming Platform (DSP)    Streams Recording Artist  \
99997     3/1/2021                  Spotify    28,941              yama
99998     3/1/2021                    Apple     8,970              yama
99999     2/1/2021                  Spotify    11,245         Lexie Liu

              Recording Label Recording Title  Release Title  \
99997  Sony Music Labels Inc.              麻痺             麻痺
99998  Sony Music Labels Inc.              麻痺    麻痺 - Single
99999          泥鞋（北京）文化传媒有限公司   黑洞 Metropolis  无限意识 Meta Ego

       Recording Duration (Seconds)  Songwriter's Listed (1 = "Yes", 0 = "No")
99997                           199                                          1
99998                           198                                          1
99999                           259                                          1

In [5]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   If                                         98240 non-null   object
 1   Country Code                               98303 non-null   object
 2   Registrant Code                            98303 non-null   object
 3   Year of Reference                          98239 non-null   float64
 4   Usage Period                               91898 non-null   object
 5   Streaming Platform (DSP)                   96001 non-null   object
 6   Streams                                    100000 non-null  object
 7   Recording Artist                           100000 non-null  object
 8   Recording Label                            98992 non-null   object
 9   Recording Title                            100000 non-null  object
 10  Release Title                              99931 non-null   object
 11  Recording Duration (Seconds)               100000 non-null  int64
 12  Songwriter's Listed (1 = "Yes", 0 = "No")  100000 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 9.9+ MB

In [6]:
raw_df.rename(columns = {'If' : 'ISRC'}, inplace = True)

In [7]:
print(raw_df.head(3))

            If  Country Code Registrant Code  Year of Reference Usage Period  \
0  USUG12101043           US             UG1               21.0          NaN
1  USRC12100543           US             RC1               21.0          NaN
2  USSM12102263           US             SM1               21.0          NaN

  Streaming Platform (DSP)     Streams Recording Artist Recording Label  \
0                AudioMack     10,175            Future             NaN
1               SoundCloud      8,597          LUCKY3RD        LUCKY3RD
2               SoundCloud    261,280          LUCKY3RD        LUCKY3RD

                             Recording Title            Release Title  \
0   FUTURE FT DEJ LOAF HEY THERE PROD BY DDS                #unknown#
1                     Keep It Cool  LUCKY3RD   Keep It Cool  LUCKY3RD
2                     Life Goes On  LUCKY3RD   Life Goes On  LUCKY3RD

   Recording Duration (Seconds)  Songwriter's Listed (1 = "Yes", 0 = "No")
0                           181                                          0
1                           133                                          0
2                           171                                          0

In [8]:
print(raw_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   If                                         98240 non-null   object
 1   Country Code                               98303 non-null   object
 2   Registrant Code                            98303 non-null   object
 3   Year of Reference                          98239 non-null   float64
 4   Usage Period                               91898 non-null   object
 5   Streaming Platform (DSP)                   96001 non-null   object
 6   Streams                                    100000 non-null  object
 7   Recording Artist                           100000 non-null  object
 8   Recording Label                            98992 non-null   object
 9   Recording Title                            100000 non-null  object
 10  Release Title                              99931 non-null   object
 11  Recording Duration (Seconds)               100000 non-null  int64
 12  Songwriter's Listed (1 = "Yes", 0 = "No")  100000 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 9.9+ MB
None

##### I have tried three different ways to rename columns... I have two more options that I've found, but I've decided to start leaving failed code... trust me, there were two other attempts prior that I deleted.

In [9]:
raw_df.columns = ['ISRC', 'Country', 'Registrant', 'Release_Year', 'Period', 'DSP', 'Streams', 'Artist', 'Label', 'Song', 'Album', 'Duration', 'Songwriter?']

In [10]:
print(raw_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ISRC          98240 non-null   object
 1   Country       98303 non-null   object
 2   Registrant    98303 non-null   object
 3   Release_Year  98239 non-null   float64
 4   Period        91898 non-null   object
 5   DSP           96001 non-null   object
 6   Streams       100000 non-null  object
 7   Artist        100000 non-null  object
 8   Label         98992 non-null   object
 9   Song          100000 non-null  object
 10  Album         99931 non-null   object
 11  Duration      100000 non-null  int64
 12  Songwriter?   100000 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 9.9+ MB
None

##### it has come to my attention that the 'If' column has a space after it, so the title is actually 'If ' -- going to do a take-two just to check that my code would have worked if I had realized that beforehand. Please hold.

In [12]:
take2 = pd.read_csv("../data/MLC_data_sample.csv")

In [15]:
print(take2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   If                                         98240 non-null   object
 1   Country Code                               98303 non-null   object
 2   Registrant Code                            98303 non-null   object
 3   Year of Reference                          98239 non-null   float64
 4   Usage Period                               91898 non-null   object
 5   Streaming Platform (DSP)                   96001 non-null   object
 6   Streams                                    100000 non-null  object
 7   Recording Artist                           100000 non-null  object
 8   Recording Label                            98992 non-null   object
 9   Recording Title                            100000 non-null  object
 10  Release Title                              99931 non-null   object
 11  Recording Duration (Seconds)               100000 non-null  int64
 12  Songwriter's Listed (1 = "Yes", 0 = "No")  100000 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 9.9+ MB
None

In [16]:
take2.rename(columns = {'If ' : 'ISRC'}, inplace = True)

In [17]:
print(take2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   ISRC                                       98240 non-null   object
 1   Country Code                               98303 non-null   object
 2   Registrant Code                            98303 non-null   object
 3   Year of Reference                          98239 non-null   float64
 4   Usage Period                               91898 non-null   object
 5   Streaming Platform (DSP)                   96001 non-null   object
 6   Streams                                    100000 non-null  object
 7   Recording Artist                           100000 non-null  object
 8   Recording Label                            98992 non-null   object
 9   Recording Title                            100000 non-null  object
 10  Release Title                              99931 non-null   object
 11  Recording Duration (Seconds)               100000 non-null  int64
 12  Songwriter's Listed (1 = "Yes", 0 = "No")  100000 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 9.9+ MB
None

##### well shoot. note to self, always run a trim function or something, haha. Onward!!! I like all my briefer columns anyway.

##### now to change the Streams column to be a float or int

In [20]:
raw_df.to_numeric('Streams')

AttributeError: 'DataFrame' object has no attribute 'to_numeric'

##### throwing an error, I'm sure I'm misunderstanding the syntax. let's try .apply(pd.to_numeric)

In [22]:
raw_df[["Streams"]] = raw_df[["Streams"]].apply(pd.to_numeric)

ValueError: Unable to parse string "  10,175 " at position 0