In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
raw_df = pd.read_csv("../data/MLC_data_sample.csv")

In [3]:
print(raw_df.head(5))

            If  Country Code Registrant Code  Year of Reference Usage Period  \
0  USUG12101043           US             UG1               21.0          NaN
1  USRC12100543           US             RC1               21.0          NaN
2  USSM12102263           US             SM1               21.0          NaN
3  USLD91731547           US             LD9               17.0     2/1/2021
4  USAT22007048           US             AT2               20.0          NaN

  Streaming Platform (DSP)     Streams        Recording Artist  \
0                AudioMack     10,175                   Future
1               SoundCloud      8,597                 LUCKY3RD
2               SoundCloud    261,280                 LUCKY3RD
3                   Trebel          5   Bachata & Merengue Mix
4                AudioMack     62,105                   Foolio

  Recording Label                            Recording Title  \
0             NaN   FUTURE FT DEJ LOAF HEY THERE PROD BY DDS
1        LUCKY3RD                     Keep It Cool  LUCKY3RD
2        LUCKY3RD                     Life Goes On  LUCKY3RD
3         Orchard     No dudes de mi- Merengue & Bachata Mix
4             NaN                       WHEN I SEE YOU REMIX

             Release Title  Recording Duration (Seconds)  \
0                #unknown#                           181
1   Keep It Cool  LUCKY3RD                           133
2   Life Goes On  LUCKY3RD                           171
3            Mega Mix 2010                          1250
4                #unknown#                           187

   Songwriter's Listed (1 = "Yes", 0 = "No")
0                                          0
1                                          0
2                                          0
3                                          0
4                                          0

In [4]:
print(raw_df.tail(3))

                If  Country Code Registrant Code  Year of Reference  \
99997  SE6HN1926755           SE             6HN               19.0
99998  SEYOK1669274           SE             YOK               16.0
99999  QZK6F2019397           QZ             K6F               20.0

      Usage Period Streaming Platform (DSP)    Streams Recording Artist  \
99997     3/1/2021                  Spotify    28,941              yama
99998     3/1/2021                    Apple     8,970              yama
99999     2/1/2021                  Spotify    11,245         Lexie Liu

              Recording Label Recording Title  Release Title  \
99997  Sony Music Labels Inc.              麻痺             麻痺
99998  Sony Music Labels Inc.              麻痺    麻痺 - Single
99999          泥鞋（北京）文化传媒有限公司   黑洞 Metropolis  无限意识 Meta Ego

       Recording Duration (Seconds)  Songwriter's Listed (1 = "Yes", 0 = "No")
99997                           199                                          1
99998                           198                                          1
99999                           259                                          1

In [5]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   If                                         98240 non-null   object
 1   Country Code                               98303 non-null   object
 2   Registrant Code                            98303 non-null   object
 3   Year of Reference                          98239 non-null   float64
 4   Usage Period                               91898 non-null   object
 5   Streaming Platform (DSP)                   96001 non-null   object
 6   Streams                                    100000 non-null  object
 7   Recording Artist                           100000 non-null  object
 8   Recording Label                            98992 non-null   object
 9   Recording Title                            100000 non-null  object
 10  Release Title                              99931 non-null   object
 11  Recording Duration (Seconds)               100000 non-null  int64
 12  Songwriter's Listed (1 = "Yes", 0 = "No")  100000 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 9.9+ MB

In [6]:
raw_df.rename(columns = {'If' : 'ISRC'}, inplace = True)

In [7]:
print(raw_df.head(3))

            If  Country Code Registrant Code  Year of Reference Usage Period  \
0  USUG12101043           US             UG1               21.0          NaN
1  USRC12100543           US             RC1               21.0          NaN
2  USSM12102263           US             SM1               21.0          NaN

  Streaming Platform (DSP)     Streams Recording Artist Recording Label  \
0                AudioMack     10,175            Future             NaN
1               SoundCloud      8,597          LUCKY3RD        LUCKY3RD
2               SoundCloud    261,280          LUCKY3RD        LUCKY3RD

                             Recording Title            Release Title  \
0   FUTURE FT DEJ LOAF HEY THERE PROD BY DDS                #unknown#
1                     Keep It Cool  LUCKY3RD   Keep It Cool  LUCKY3RD
2                     Life Goes On  LUCKY3RD   Life Goes On  LUCKY3RD

   Recording Duration (Seconds)  Songwriter's Listed (1 = "Yes", 0 = "No")
0                           181                                          0
1                           133                                          0
2                           171                                          0

In [8]:
print(raw_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   If                                         98240 non-null   object
 1   Country Code                               98303 non-null   object
 2   Registrant Code                            98303 non-null   object
 3   Year of Reference                          98239 non-null   float64
 4   Usage Period                               91898 non-null   object
 5   Streaming Platform (DSP)                   96001 non-null   object
 6   Streams                                    100000 non-null  object
 7   Recording Artist                           100000 non-null  object
 8   Recording Label                            98992 non-null   object
 9   Recording Title                            100000 non-null  object
 10  Release Title                              99931 non-null   object
 11  Recording Duration (Seconds)               100000 non-null  int64
 12  Songwriter's Listed (1 = "Yes", 0 = "No")  100000 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 9.9+ MB
None

##### I have tried three different ways to rename columns... I have two more options that I've found, but I've decided to start leaving failed code... trust me, there were two other attempts prior that I deleted.

In [9]:
raw_df.columns = ['ISRC', 'Country', 'Registrant', 'Release_Year', 'Period', 'DSP', 'Streams', 'Artist', 'Label', 'Song', 'Album', 'Duration', 'Songwriter?']

In [10]:
print(raw_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ISRC          98240 non-null   object
 1   Country       98303 non-null   object
 2   Registrant    98303 non-null   object
 3   Release_Year  98239 non-null   float64
 4   Period        91898 non-null   object
 5   DSP           96001 non-null   object
 6   Streams       100000 non-null  object
 7   Artist        100000 non-null  object
 8   Label         98992 non-null   object
 9   Song          100000 non-null  object
 10  Album         99931 non-null   object
 11  Duration      100000 non-null  int64
 12  Songwriter?   100000 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 9.9+ MB
None

##### it has come to my attention that the 'If' column has a space after it, so the title is actually 'If ' -- going to do a take-two just to check that my code would have worked if I had realized that beforehand. Please hold.

In [11]:
take2 = pd.read_csv("../data/MLC_data_sample.csv")

In [12]:
print(take2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   If                                         98240 non-null   object
 1   Country Code                               98303 non-null   object
 2   Registrant Code                            98303 non-null   object
 3   Year of Reference                          98239 non-null   float64
 4   Usage Period                               91898 non-null   object
 5   Streaming Platform (DSP)                   96001 non-null   object
 6   Streams                                    100000 non-null  object
 7   Recording Artist                           100000 non-null  object
 8   Recording Label                            98992 non-null   object
 9   Recording Title                            100000 non-null  object
 10  Release Title                              99931 non-null   object
 11  Recording Duration (Seconds)               100000 non-null  int64
 12  Songwriter's Listed (1 = "Yes", 0 = "No")  100000 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 9.9+ MB
None

In [13]:
take2.rename(columns = {'If ' : 'ISRC'}, inplace = True)

In [14]:
print(take2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   ISRC                                       98240 non-null   object
 1   Country Code                               98303 non-null   object
 2   Registrant Code                            98303 non-null   object
 3   Year of Reference                          98239 non-null   float64
 4   Usage Period                               91898 non-null   object
 5   Streaming Platform (DSP)                   96001 non-null   object
 6   Streams                                    100000 non-null  object
 7   Recording Artist                           100000 non-null  object
 8   Recording Label                            98992 non-null   object
 9   Recording Title                            100000 non-null  object
 10  Release Title                              99931 non-null   object
 11  Recording Duration (Seconds)               100000 non-null  int64
 12  Songwriter's Listed (1 = "Yes", 0 = "No")  100000 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 9.9+ MB
None

##### well shoot. note to self, always run a trim function or something, haha. Onward!!! I like all my briefer columns anyway.

##### now to change the Streams column to be a float or int

In [15]:
raw_df.to_numeric('Streams')

AttributeError: 'DataFrame' object has no attribute 'to_numeric'

##### throwing an error, I'm sure I'm misunderstanding the syntax. let's try .apply(pd.to_numeric)

In [16]:
raw_df[["Streams"]] = raw_df[["Streams"]].apply(pd.to_numeric)

ValueError: Unable to parse string "  10,175 " at position 0

##### so there are leading and trailing spaces, and thousands-separator commas, in some of these values... I'm going to try something from https://www.datasciencemadesimple.com/strip-space-column-pandas-dataframe-leading-trailing-2/

In [17]:
raw_df["Streams"] = raw_df["Streams"].str.replace(" ", "")

In [18]:
raw_df[["Streams"]] = raw_df[["Streams"]].apply(pd.to_numeric)

ValueError: Unable to parse string "10,175" at position 0

In [19]:
raw_df["Streams"] = raw_df["Streams"].str.replace(",", "")

In [20]:
raw_df[["Streams"]] = raw_df[["Streams"]].apply(pd.to_numeric)

In [21]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ISRC          98240 non-null   object
 1   Country       98303 non-null   object
 2   Registrant    98303 non-null   object
 3   Release_Year  98239 non-null   float64
 4   Period        91898 non-null   object
 5   DSP           96001 non-null   object
 6   Streams       100000 non-null  int64
 7   Artist        100000 non-null  object
 8   Label         98992 non-null   object
 9   Song          100000 non-null  object
 10  Album         99931 non-null   object
 11  Duration      100000 non-null  int64
 12  Songwriter?   100000 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 9.9+ MB

In [22]:
print(raw_df.head(3))

           ISRC Country Registrant  Release_Year Period         DSP  Streams  \
0  USUG12101043      US        UG1          21.0    NaN   AudioMack    10175
1  USRC12100543      US        RC1          21.0    NaN  SoundCloud     8597
2  USSM12102263      US        SM1          21.0    NaN  SoundCloud   261280

     Artist     Label                                       Song  \
0    Future       NaN   FUTURE FT DEJ LOAF HEY THERE PROD BY DDS
1  LUCKY3RD  LUCKY3RD                     Keep It Cool  LUCKY3RD
2  LUCKY3RD  LUCKY3RD                     Life Goes On  LUCKY3RD

                     Album  Duration  Songwriter?
0                #unknown#       181            0
1   Keep It Cool  LUCKY3RD       133            0
2   Life Goes On  LUCKY3RD       171            0

In [23]:
clean = raw_df

In [24]:
print(clean.head(3))

           ISRC Country Registrant  Release_Year Period         DSP  Streams  \
0  USUG12101043      US        UG1          21.0    NaN   AudioMack    10175
1  USRC12100543      US        RC1          21.0    NaN  SoundCloud     8597
2  USSM12102263      US        SM1          21.0    NaN  SoundCloud   261280

     Artist     Label                                       Song  \
0    Future       NaN   FUTURE FT DEJ LOAF HEY THERE PROD BY DDS
1  LUCKY3RD  LUCKY3RD                     Keep It Cool  LUCKY3RD
2  LUCKY3RD  LUCKY3RD                     Life Goes On  LUCKY3RD

                     Album  Duration  Songwriter?
0                #unknown#       181            0
1   Keep It Cool  LUCKY3RD       133            0
2   Life Goes On  LUCKY3RD       171            0

In [25]:
clean.isnull().sum()

ISRC            1760
Country         1697
Registrant      1697
Release_Year    1761
Period          8102
DSP             3999
Streams            0
Artist             0
Label           1008
Song               0
Album             69
Duration           0
Songwriter?        0
dtype: int64

In [26]:
clean.Release_Year.value_counts()

20.0    31143
21.0    13510
19.0    11577
18.0     8556
17.0     6025
        ...
44.0        2
50.0        1
48.0        1
49.0        1
40.0        1
Name: Release_Year, Length: 95, dtype: int64

In [27]:
clean.DSP.value_counts()

Spotify               32268
Apple                 22200
Amazon                14438
Pandora               13777
Tidal                  3521
YouTube                2752
SoundCloud             2122
GTL                    1090
Melodyv                 829
Trebel                  817
iHeart Radio            707
AudioMack               550
NugsNet                 316
LiveXLive               200
Qoboz                   104
Midwest Tape            102
Deezer                   51
Anghami                  46
Sonos                    23
Recisio                  22
Smithsonian              21
Ultimate Guitar          19
PowerMusic                8
Wolfgangs                 4
Fan Label                 4
MixCloud                  4
Pacemaker                 3
Classical Archives        2
MonkingMe                 1
Name: DSP, dtype: int64

In [28]:
clean.Artist.value_counts()

Various artists                                                                                   967
Lil Durk                                                                                          446
Zach Bryan                                                                                        394
Youngboy Never Broke Again                                                                        335
Taylor Swift                                                                                      313
                                                                                                 ...
Mr. Rock Ski,Madam T                                                                                1
Rauw Alejandro, Myke Towers, Jay Wheeler                                                            1
Jay Wheeler, Myke Towers & DJ Nelson (feat. Jhay Cortez, Lunay, Rauw Alejandro & Kendo Kaponi)      1
Jay Wheeler, Myke Towers & Becky G                                                                  1
Loud Bunch Kids                                                                                     1
Name: Artist, Length: 21149, dtype: int64

In [29]:
clean.Label.value_counts()

Atlantic Records                      1384
Lofi Records                          1232
Warner Records                         995
Columbia                               843
Universal                              818
                                      ...
Twenty7 Records / Human Re Sources       1
Hip-O Select / Motown                    1
NyxTheShield                             1
Relaxing Sounds For Studying             1
Universal Music Taiwan                   1
Name: Label, Length: 11778, dtype: int64

In [30]:
clean['Songwriter?'].value_counts()

1    54161
0    45839
Name: Songwriter?, dtype: int64

In [31]:
clean.Release_Year.nunique()

95

In [32]:
clean.DSP.nunique()

29

In [33]:
clean.Artist.nunique()

21149

In [34]:
clean.Label.nunique()

11778

In [35]:
clean.describe()

       Release_Year       Streams       Duration    Songwriter?
count  98239.000000  1.000000e+05  100000.000000  100000.000000
mean      19.671933  5.626550e+04    1016.893690       0.541610
std       12.638870  2.620276e+05   15565.692133       0.498268
min        0.000000  1.000000e+00       0.000000       0.000000
25%       17.000000  6.807000e+03     149.000000       0.000000
50%       19.000000  1.677250e+04     190.000000       1.000000
75%       20.000000  3.990300e+04     236.000000       1.000000
max       99.000000  2.145617e+07  818738.000000       1.000000

In [38]:
clean[clean['Streams']==clean['Streams'].min()]

,ISRC,Country,Registrant,Release_Year,Period,DSP,Streams,Artist,Label,Song,Album,Duration,Songwriter?
199,USAT22100906,US,AT2,21.0,3/1/2021,GTL,1,Pedro Del Mar,#trancefamily,#trancefamily Presents The Beauty Of Vocal Tra...,#trancefamily Presents The Beauty Of Vocal Trance,5100,0
277,KRA302100105,KR,A30,21.0,3/1/2021,GTL,1,Earl Nightingale,Earl Nightingale,02 - Courage And Self - Esteem,Essence Of Success,5707,0
283,USQX92005133,US,QX9,20.0,3/1/2021,GTL,1,Earl Nightingale,Earl Nightingale,05 - Personal Growth,Essence Of Success,4604,0
284,QZDQH1808878,QZ,DQH,18.0,3/1/2021,GTL,1,Earl Nightingale,Earl Nightingale,05 - Personal Growth,Essence Of Success,4604,0
285,USUG12004797,US,UG1,20.0,3/1/2021,GTL,1,Earl Nightingale,Earl Nightingale,06 - Interpersonal Communication And Relations...,Essence Of Success,5150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98476,QZES52166183,QZ,ES5,21.0,3/1/2021,GTL,1,Eric Thomas,ETARecords,You Whine We Grind,The Success Series Season 2,3968,0
98477,TCAEL1973167,TC,AEL,19.0,3/1/2021,GTL,1,Eric Thomas,ETARecords,You Whine We Grind,The Success Series Season 2,3968,0
98478,QZES91874867,QZ,ES9,18.0,3/1/2021,GTL,1,Eric Thomas,ETARecords,You Whine We Grind,The Success Series Season 2,3968,0
98759,TCAEU2021879,TC,AEU,20.0,3/1/2021,GTL,1,Mufti Ismail Menk,Mufti Ismail Menk,Your Journey Begins Now,Seeds Of Guidance,3460,0
98760,QZFZ41971442,QZ,FZ4,19.0,3/1/2021,GTL,1,Mufti Ismail Menk,Mufti Ismail Menk,Your Journey Begins Now,Seeds Of Guidance,3460,0

##### I really want to do a sns.pairplot because I think that chart type is so cool but there's so much data to crunch in this set, I think it will take forever.... maybe later.